@page

@{
}

<!-- navigate title -->
<div class="container px-4 d-flex" style="background: #3249BF;">
    <a href="~/mainmenu"><p class="navigate-text">Main Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href="/goodsreceipt/mainmenu"><p class="navigate-text">GR Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href="#"><p class="navigate-text">Goods Receipt for PO</p></a>
</div>
<!-- end navigate title -->

<div class="container px-4 mt-4">
    <form action="">
        <div class="row g-3 mb-0 align-items-center text-start">
            <div class="col-4">
                <label for="batch" class="font-size-75">Movement Type</label>
            </div>
            <div class="col-8">
                <select class="select-size" id="movementType" onchange="changeForm()">
                    <option selected>Select</option>
                    <option value="101">101 - GR goods receipt</option>
                    <option value="102">102 - GR for PO reversal</option>
                </select>
            </div>
        </div>


        <!-- 101-102-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="101-102-1">
            <div class="col-4">
                <label for="PO" class="font-size-75">PO</label>
            </div>
            <div class="col-8">
                <input type="text" id="PO" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">Plant</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">7567</option>
                    <option value="">7521</option>
                    <option value="">7523</option>
                    <option value="">7531</option>
                    <option value="">7533</option>
                </select>
            </div>
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="entryUnit" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end 101-102-1 Form -->
        <!-- 101-102-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="101-102-2">
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
        </div>
        <!-- end 101-102-2 Form -->
        <!-- 102 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="102">
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>

            <div class="col-4">
                <label for="materialNo" class="font-size-75">Material No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="materialNo" class="form-control form-control-22">
            </div>

            <div class="col-4">
                <label for="entryWeight" class="font-size-75">Weight</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="entryWeight" class="form-control form-control-22">
            </div>

            <div class="col-4">
                <label for="contractNo" class="font-size-75">PI No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="contractNo" class="form-control form-control-22">
            </div>

            <div class="col-4">
                <label for="exportOrderNo" class="font-size-75">EO No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="exportOrderNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="length" class="font-size-75">Length</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="length" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="diameter" class="font-size-75">Diameter</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="diameter" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="containerItem" class="font-size-75">Container Item</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="containerItem" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="rollBatch" class="font-size-75">Roll Batch</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="rollBatch" class="form-control form-control-22">
            </div>
        </div>
        <!-- end 102 Form -->

        <div class="row mx-0 my-4 justify-content-between text-center d-none" id="formButton">
            <a href="#" class="col-6 btn-blue btn-col-6 link-button">Save</a>
            <a href="#" class="col-6 btn-red btn-col-6 link-button">Clear</a>
        </div>

        <div class="row mx-0 my-4 justify-content-between text-center d-none" id="formButton2">
            <a href="#" class="col-6 btn-blue btn-col-6 link-button" onclick="formStep2()">OK</a>
            <a href="/goodsreceipt/mainmenu" class="col-6 btn-black btn-col-6 link-button">Back</a>
        </div>
    </form>

    <div class="d-none" id="detailTable">
        <div class="row mx-0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">No</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Material</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-none">
                        <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="h5 fa-regular fa-trash-can" style="color: #929292;"></i></a></td>
                        <td>1</td>
                        <td>118A07708A</td>
                        <td>1.280</td>
                        <td>Z02CA-150D1690117N</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>PO item :</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="border-none">
                        <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="h5 fa-regular fa-trash-can" style="color: #929292;"></i></a></td>
                        <td>2</td>
                        <td>118A07708A</td>
                        <td>1.280</td>
                        <td>Z02CA-150D1690117N</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>PO item :</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>RecordCount : 2</p>

        <div class="row g-3 mx-0 text-center justify-content-between pb-4">
            <a data-bs-toggle="modal" data-bs-target="#messageModal" class="col-6 btn-col-6 btn-blue link-button">Send to SAP</a>
            <a href="/goodsreceipt/mainmenu" class="col-6 btn-col-6 btn-black link-button">Back</a>
        </div>
    </div>

</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 justify-content-center">
                <h5>Confirm to delete?</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn-blue w-100">Yes</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn-black w-100" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MSG Modal -->
<div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Send to SAP</h5>
            </div>
            <div class="modal-body">
                <p>DOC No. 12345</p>
                <p>SAP Message: lorem</p>
                <div class="row px-2">
                    <button type="button" class="btn-blue w-100" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const mvtSelectEl = document.querySelector("#movementType");
    const mvtFormEl = document.querySelectorAll(".mvt-form");
    const boxes = document.querySelectorAll('.mvt-form');
    const formButton = document.querySelector("#formButton");
    const formButton2 = document.querySelector("#formButton2");
    const detailTable = document.querySelector("#detailTable");
    let mvt;

    function changeForm() {
        for (let i = 0; i < mvtFormEl.length; i++) {

            for (const box of boxes) {
                box.classList.add('d-none');
            }
            if (mvtSelectEl.value == '101' || mvtSelectEl.value == '102') {
                document.getElementById("101-102-1").classList.remove("d-none");
                formButton2.classList.remove("d-none");
            }
            else if (mvtSelectEl.value == 'Select') {
                mvtFormEl[i].classList.add("d-none");
                formButton.classList.add("d-none");
                formButton2.classList.add("d-none");
            }
            else {
                mvtFormEl[i].classList.add("d-none");
            }
            formButton.classList.add("d-none");
            detailTable.classList.add("d-none");
            mvt = mvtSelectEl.value;
        }
    }

    function formStep2() {
        for (let i = 0; i < mvtFormEl.length; i++) {
            for (const box of boxes) {
                box.classList.add('d-none');
                formButton2.classList.add("d-none");
            }
            if (mvt == '101' || mvt == '102') {
                document.getElementById("101-102-2").classList.remove("d-none");
            } else {
                mvtFormEl[i].classList.add("d-none");
            }
            detailTable.classList.remove("d-none");
        }
    }
</script>
