@page

@{
}

<!-- navigate title -->
<div class="container px-4 d-flex" style="background: #3249BF;">
    <a href="~/mainmenu"><p class="navigate-text">Main Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href="/goodsreceipt/mainmenu"><p class="navigate-text">GR Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href="#"><p class="navigate-text">Goods Receipt Production</p></a>
</div>
<!-- end navigate title -->

<div class="container px-4 mt-4">
    <p class="save-notice pb-2 d-none" id="saveNotice"><img src="~/images/Check_fill.png" alt="" width="24px" style="padding-right: 4px;">Save data on success</p>
    <form action="">
        <div class="row g-3 align-items-center text-start">
            <div class="col-4">
                <label for="batch" class="font-size-75">Batch</label>
            </div>
            <div class="col-8">
                <input type="text" id="batch" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="weight" class="font-size-75">Weight</label>
            </div>
            <div class="col-8">
                <input type="text" id="qty" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="material" class="font-size-75">Material</label>
            </div>
            <div class="col-8">
                <input type="text" id="material" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="condition" class="font-size-75">Condition of Goods</label>
            </div>
            <div class="col-8">
                <div class="row px-2">
                    <div class="col-6 form-check my-1">
                        <input onclick="hideAndShowFleid(false)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label font-size-75" for="exampleRadios1">
                            Receive
                        </label>
                    </div>
                    <div class="col-6 form-check my-1">
                        <input onclick="hideAndShowFleid(true)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label font-size-75" for="exampleRadios2">
                            Reject
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="reasonImg" class="d-none row g-3 mt-1 align-items-center text-start">
            <div class="col-4">
                <label for="reason" class="font-size-75">Reason*</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">OC Reject</option>
                    <option value="">ปัญหาคุณภาพ</option>
                    <option value="">ปัญหาการผลิต</option>
                    <option value="">ม้วนทดลอง</option>
                    <option value="">อื่น ๆ</option>
                </select>
            </div>

            <div class="col-4 mb-3">
                <label for="fileImage" class="font-size-75">File Image</label>
            </div>
            <div class="col-8 mb-3">
                <input type="file" class="form-control" id="fileUpload">
            </div>
        </div>


        <div class="row mt-3 justify-content-center text-center">
            <a href="#" class="btn-blue btn-col-12" onclick="saveSuccess()">
                <button type="button" class="btn-blue">Save</button>
            </a>
        </div>

    </form>


    <div class="row mt-4 mx-0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Material</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-none">
                    <td>1</td>
                    <td>118A07708A</td>
                    <td>1.280</td>
                    <td>Z02CA-150D1690117N</td>
                </tr>
                <tr>
                    <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="h5 fa-regular fa-trash-can" style="color: #929292;"></i></a></td>
                    <td colspan="2"></td>
                    <td class="text-status-blue">Receive</td>
                </tr>
                <tr class="border-none">
                    <td>2</td>
                    <td>118A07708A</td>
                    <td>1.280</td>
                    <td>Z02CA-150D1690117N</td>
                </tr>
                <tr>
                    <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="h5 fa-regular fa-trash-can" style="color: #929292;"></i></a></td>
                    <td colspan="2"><img src="https://5.imimg.com/data5/ANDROID/Default/2020/10/QJ/GC/NO/34623073/product-jpeg-500x500.jpg" alt="" height="45px"></td>
                    <td><span class="text-status-red">Reject</span><br>มีรอยขาด</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0 justify-content-center">
                    <h5>Confirm to delete?</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn-blue w-100">Yes</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn-black w-100" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>RecordCount : 2</p>

    <div class="row g-3 mx-0 text-center justify-content-between pb-4">
        <a href="#" class="col-6 btn-col-6 btn-blue" data-bs-toggle="modal" data-bs-target="#messageModal">
            <button type="button" class="btn-blue" style="padding:0px;">Send to SAP</button>
        </a>
        <a href="/goodsreceipt/mainmenu" class="col-6 btn-col-6 btn-black">
            <button type="button" class="btn-black">Back</button>
        </a>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 justify-content-center">
                <h5>Confirm to delete?</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn-blue w-100">Yes</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn-black w-100" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MSG Modal -->
<div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Send to SAP</h5>
            </div>
            <div class="modal-body">
                <p>DOC No. 12345</p>
                <p>SAP Message: lorem</p>
                <div class="row px-2">
                    <button type="button" class="btn-blue w-100" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function hideAndShowFleid(b) {
        if (b == true) {
            document.getElementById("reasonImg").classList.remove("d-none");
        } else {
            document.getElementById("reasonImg").classList.add("d-none");
        }
    }

        function saveSuccess() {
        document.getElementById("saveNotice").classList.remove("d-none");
    }

</script>

