@page

@{
}

<!-- navigate title -->
<div class="container px-4 d-flex" style="background: #3249BF;">
    <a href="~/mainmenu"><p class="navigate-text">Main Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href="/dprewind/mainmenu"><p class="navigate-text">DP Rewind</p></a>
</div>
<!-- end navigate title -->

<div class="container px-4 mt-4">
    <form action="">
        <div class="row g-3 align-items-center text-start">
            <div class="col-4">
                <label for="dpNumber" class="font-size-75">DP No.</label>
            </div>
            <div class="col-8">
                <input type="text" id="dpNumber" class="form-control form-control-22" placeholder="SKC160516007" disabled>
            </div>

            <div class="col-4">
                <label for="batchNumber" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <input type="text" id="batchNumber" class="form-control form-control-22">
            </div>

            <div class="col-4">
                <label for="scanTotal" class="font-size-75">Scan Total</label>
            </div>
            <div class="col-8 font-size-75 d-flex align-items-center">
                <p class="flex-grow-1 mb-0">1/2</p>
                <p class="flex-grow-1 mb-0">1.280/2.560 Ton</p>
            </div>
        </div>

        <div class="row mx-0 my-4 justify-content-between text-center" id="formButton">
            <a href="#" class="col-6 btn-blue btn-col-6 link-button">Save</a>
            <a href="#" class="col-6 btn-red btn-col-6 link-button">Clear</a>
        </div>

    </form>

    <div class="row mt-4 mx-0">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">No</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Material</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="h5 fa-regular fa-trash-can" style="color: #929292;"></i></a></td>
                    <td>1</td>
                    <td>118A07708A</td>
                    <td>1.280</td>
                    <td>Z02CA-150D1690117N</td>
                </tr>
            </tbody>
        </table>
    </div>

     <p class="mb-0">RecordCount : 1</p>

        <div class="row g-3 mt-0 align-items-center text-start">
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Text Item</label>
            </div>
            <div class="col-8">
                <input type="text" id="batchNo" class="form-control form-control-22" >
            </div>
        </div>

        <div class="row mx-0 mt-4 justify-content-between text-center">
            <a href="#" class="col-6 btn-blue btn-col-6 link-button" data-bs-toggle="modal" data-bs-target="#messageModal">Send to SAP</a>
            <a href="/dprewind/mainmenu" class="col-6 btn-black btn-col-6 link-button">Back</a>
        </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0 justify-content-center">
                    <h5>Confirm to delete?</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn-blue w-100">Yes</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn-black w-100" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MSG Modal -->
    <div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Send to SAP</h5>
                </div>
                <div class="modal-body">
                    <p>DOC No. 12345</p>
                    <p>SAP Message: lorem</p>
                    <div class="row px-2">
                        <button type="button" class="btn-blue w-100" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>