@page

@{
}

<!-- navigate title -->
<div class="container px-4 d-flex" style="background: #3249BF;">
    <a href="~/mainmenu"><p class="navigate-text">Main Menu</p></a>
    <p class="navigate-text">&nbsp;>&nbsp;</p>
    <a href="#"><p class="navigate-text">Goods Transfer</p></a>
</div>
<!-- end navigate title -->

<div class="container px-4 mt-4">
    <form action="">
        <div class="row g-3 mb-0 align-items-center text-start">
            <div class="col-4">
                <label for="batch" class="font-size-75">Movement Type</label>
            </div>
            <div class="col-8">
                <select class="select-size" id="movementType" onchange="changeForm()">
                    <option selected>Select</option>
                    <option value="Z03">Z03 - ย้ายระหว่าง Plant</option>
                    <option value="Z04">Z04 - Re-ย้ายระหว่าง Plant</option>
                    <option value="309">309 - เปลี่ยน Material</option>
                    <option value="310">310 - Re-เปลี่ยน Material</option>
                    <option value="311">311 - ย้าย Storage</option>
                    <option value="312">312 - Re-ย้าย Storage</option>
                    <option value="321">321 - QI > UR</option>
                    <option value="322">322 - UR > QI</option>
                    <option value="343">343 - BL > UR</option>
                    <option value="344">344 - UR > BL</option>
                    <option value="Z15">Z15 - เบิก Rewind</option>
                    <option value="202">202 - รับ Rewind</option>
                </select>
            </div>
        </div>

        <!-- Z03-Z04-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="Z03-Z04-1">
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">From Plant</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">7567</option>
                    <option value="">7521</option>
                    <option value="">7523</option>
                    <option value="">7531</option>
                    <option value="">7533</option>
                </select>
            </div>
            <div class="col-4">
                <label for="receivingPlant" class="font-size-75">To Plant</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">7567</option>
                    <option value="">7521</option>
                    <option value="">7523</option>
                    <option value="">7531</option>
                    <option value="">7533</option>
                </select>
            </div>
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">From Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="receivingStorageLocation" class="font-size-75">To Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
            <div class="col-4">
                <label for="entryUnit" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end Z03-Z04-1 Form -->
        <!-- Z03-Z04-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="Z03-Z04-2">
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">From Plant</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">7567</option>
                    <option value="">7521</option>
                    <option value="">7523</option>
                    <option value="">7531</option>
                    <option value="">7533</option>
                </select>
            </div>
            <div class="col-4">
                <label for="receivingPlant" class="font-size-75">To Plant</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">7567</option>
                    <option value="">7521</option>
                    <option value="">7523</option>
                    <option value="">7531</option>
                    <option value="">7533</option>
                </select>
            </div>
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">From Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="receivingStorageLocation" class="font-size-75">To Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="batch" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batch" class="form-control form-control-22">
            </div>
        </div>
        <!-- end Z03-Z04-2 Form -->
        <!-- 309-1 310-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="309-310-1">
            <div class="col-4">
                <label for="materialNo" class="font-size-75">To Material</label>
            </div>
            <div class="col-8">
                <input type="text" id="materialNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
            <div class="col-4">
                <label for="entryUnit" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end 309-1 310-1 Form -->
        <!-- 309-2 310-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="309-310-2">
            <div class="col-4">
                <label for="materialNo" class="font-size-75">To Material</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="materialNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="batch" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batch" class="form-control form-control-22">
            </div>
        </div>
        <!-- end 309-2 310-2 Form -->
        <!-- 311-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="311-1">
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">From Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="receivingStorageLocation" class="font-size-75">To Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
            <div class="col-4">
                <label for="entryUnit" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end 311-1 Form -->
        <!-- 311-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="311-2">
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">From Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="receivingStorageLocation" class="font-size-75">To Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
        </div>
        <!-- end 311-2 Form -->
        <!-- 312-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="312-1">
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">From Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="receivingStorageLocation" class="font-size-75">To Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
            <div class="col-4">
                <label for="entryUnit" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end 312-1 Form -->
        <!-- 312-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="312-2">
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">From Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>

            <div class="col-4">
                <label for="storageFrom" class="font-size-75">To Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <input type="text" id="itemText" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
        </div>
        <!-- end 312-2 Form -->
        <!-- 321-322-343-344-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="321-322-343-344-1">
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <input type="text" id="itemText" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="entryUnit" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end 321-322-343-344-1 Form -->
        <!-- 321-322-343-344-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="321-322-343-344-2">
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <input type="text" id="itemText" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
        </div>
        <!-- end 321-322-343-344-2 Form -->
        <!-- Z15-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="Z15-1">
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">Stock Type</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Quality Inspection</option>
                    <option value="">Blocked Stock</option>
                    <option value="">Unrestricted Use</option>
                </select>
            </div>
            <div class="col-4">
                <label for="batchNo" class="font-size-75">GL</label>
            </div>
            <div class="col-8">
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Cost Center</label>
            </div>
            <div class="col-8">
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end Z15-1 Form -->
        <!-- Z15-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="Z15-2">
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="materialNo" class="font-size-75">Material No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="materialNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="entryWeight" class="font-size-75">Weight</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="entryWeight" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">Plant</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">7567</option>
                    <option value="">7521</option>
                    <option value="">7523</option>
                    <option value="">7531</option>
                    <option value="">7533</option>
                </select>
            </div>
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
        </div>
        <!-- end Z15-2 Form -->
        <!-- 202-1 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="202-1">
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Material Slip</label>
            </div>
            <div class="col-8">
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="materialNo" class="font-size-75">GL</label>
            </div>
            <div class="col-8">
                <input type="text" id="materialNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="itemText" class="font-size-75">Reason Order</label>
            </div>
            <div class="col-8">
                <input type="text" id="itemText" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="entryWeight" class="font-size-75">Text</label>
            </div>
            <div class="col-8">
                <input type="text" id="entryWeight" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">Unit</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">option 1</option>
                    <option value="">option 2</option>
                </select>
            </div>
        </div>
        <!-- end 202-1 Form -->
        <!-- 202-2 Form -->
        <div class="row g-3 mt-0 align-items-center text-start d-none mvt-form" id="202-2">
            <div class="col-4">
                <label for="batchNo" class="font-size-75">Batch No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="materialNo" class="font-size-75">Material No.</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="materialNo" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="entryWeight" class="font-size-75">Weight</label>
            </div>
            <div class="col-8">
                <!-- get value -->
                <input type="text" id="entryWeight" class="form-control form-control-22">
            </div>
            <div class="col-4">
                <label for="fromPlant" class="font-size-75">Plant</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">7567</option>
                    <option value="">7521</option>
                    <option value="">7523</option>
                    <option value="">7531</option>
                    <option value="">7533</option>
                </select>
            </div>
            <div class="col-4">
                <label for="storageFrom" class="font-size-75">Storage</label>
            </div>
            <div class="col-8">
                <select class="select-size">
                    <option value="">Select</option>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">P1</option>
                    <option value="">P3</option>
                    <option value="">S1</option>
                    <option value="">S3</option>
                </select>
            </div>
        </div>
        <!-- end 202-2 Form -->

        <div class="row mx-0 my-4 justify-content-between text-center d-none" id="formButton">
            <a href="#" class="col-6 btn-blue btn-col-6">
                <button type="button" class="btn-blue">Save</button>
            </a>
            <a href="#" class="col-6 btn-red btn-col-6">
                <button type="button" class="btn-red">Clear</button>
            </a>
        </div>

        <div class="row mx-0 my-4 pb-3 justify-content-between text-center d-none" id="formButton2">
            <a href="#" class="col-6 btn-blue btn-col-6" onclick="formStep2()">
                <button type="button" class="btn-blue">OK</button>
            </a>
            <a href="#" class="col-6 btn-black btn-col-6">
                <button type="button" class="btn-black">Back</button>
            </a>
        </div>

    </form>
    <div class="d-none" id="detailTable">
        <div class="row mx-0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">No</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Material</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="h5 fa-regular fa-trash-can" style="color: #929292;"></i></a></td>
                        <td>1</td>
                        <td>118A07708A</td>
                        <td>1.280</td>
                        <td>Z02CA-150D1690117N</td>
                    </tr>
                    <tr>
                        <td><a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="h5 fa-regular fa-trash-can" style="color: #929292;"></i></a></td>
                        <td>2</td>
                        <td>118A07708A</td>
                        <td>1.280</td>
                        <td>Z02CA-150D1690117N</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="mb-0">RecordCount : 2</p>

        <div class="row g-3 mt-0 align-items-center text-start d-none" id="toMaterial">
            <div class="col-4">
                <label for="batchNo" class="font-size-75">To Material</label>
            </div>
            <div class="col-8">
                <input type="text" id="batchNo" class="form-control form-control-22">
            </div>
        </div>

        <div class="row g-3 mx-0 mt-3 text-center justify-content-between pb-4">
            <a class="col-6 btn-col-6 btn-blue" data-bs-toggle="modal" data-bs-target="#messageModal">
                <button type="button" class="btn-blue" style="padding:0px;">Send to SAP</button>
            </a>
            <a href="mainmenu.php" class="col-6 btn-col-6 btn-black">
                <button type="button" class="btn-black">Back</button>
            </a>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0 justify-content-center">
                    <h5>Confirm to delete?</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn-blue w-100">Yes</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn-black w-100" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MSG Modal -->
    <div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Send to SAP</h5>
                </div>
                <div class="modal-body">
                    <p>DOC No. 12345</p>
                    <p>SAP Message: lorem</p>
                    <div class="row px-2">
                        <button type="button" class="btn-blue w-100" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    const mvtSelectEl = document.querySelector("#movementType");
    const mvtFormEl = document.querySelectorAll(".mvt-form");
    const boxes = document.querySelectorAll('.mvt-form');
    const formButton = document.querySelector("#formButton");
    const formButton2 = document.querySelector("#formButton2");
    const detailTable = document.querySelector("#detailTable");
    let mvt;

    function changeForm() {
        for (let i = 0; i < mvtFormEl.length; i++) {

            for (const box of boxes) {
                box.classList.add('d-none');
            }

            if (mvtSelectEl.value == 'Z03' || mvtSelectEl.value == 'Z04') {
                document.getElementById("Z03-Z04-1").classList.remove("d-none");
            }
            else if (mvtSelectEl.value == '309' || mvtSelectEl.value == '310') {
                document.getElementById("309-310-1").classList.remove("d-none");
            }
            else if (mvtSelectEl.value == '311') {
                document.getElementById("311-1").classList.remove("d-none");
            }
            else if (mvtSelectEl.value == '312') {
                document.getElementById("312-1").classList.remove("d-none");
            }
            else if (mvtSelectEl.value == '321' || mvtSelectEl.value == '322' || mvtSelectEl.value == '343' || mvtSelectEl.value == '344') {
                document.getElementById("321-322-343-344-1").classList.remove("d-none");
            }
            else if (mvtSelectEl.value == 'Z15') {
                document.getElementById("Z15-1").classList.remove("d-none");
            }
            else if (mvtSelectEl.value == '202') {
                document.getElementById("202-1").classList.remove("d-none");
            }
            else if (mvtSelectEl.value == 'Select') {
                mvtFormEl[i].classList.add("d-none");
                formButton.classList.add("d-none");
                formButton2.classList.add("d-none");
            }
            else {
                mvtFormEl[i].classList.add("d-none");
            }
            formButton.classList.add("d-none");
            detailTable.classList.add("d-none");
            formButton2.classList.remove("d-none");
            mvt = mvtSelectEl.value;
        }
    }

    function formStep2() {
        for (let i = 0; i < mvtFormEl.length; i++) {

            for (const box of boxes) {
                box.classList.add('d-none');
                formButton2.classList.add("d-none");
            }

            if (mvt == 'Z03' || mvt == 'Z04') {
                document.getElementById("Z03-Z04-2").classList.remove("d-none");

            }
            else if (mvt == '309' || mvt == '310') {
                document.getElementById("309-310-2").classList.remove("d-none");
            }
            else if (mvt == '311') {
                document.getElementById("311-2").classList.remove("d-none");
            }
            else if (mvt == '312') {
                document.getElementById("312-2").classList.remove("d-none");
            }
            else if (mvt == '321' || mvt == '322' || mvt == '343' || mvt == '344') {
                document.getElementById("321-322-343-344-2").classList.remove("d-none");
            }
            else if (mvt == 'Z15') {
                document.getElementById("Z15-2").classList.remove("d-none");
                formButton.classList.remove("d-none");
            } else if (mvt == '202') {
                document.getElementById("202-2").classList.remove("d-none");
                formButton.classList.remove("d-none");
            } else if (mvt == '344') {
                document.getElementById("344-2").classList.remove("d-none");
            } else {
                mvtFormEl[i].classList.add("d-none");
            }
            detailTable.classList.remove("d-none");
        }
    }
</script>